<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>活动</title>
    <link rel="stylesheet" href="../../../layui/css/layui.css">
    <script src="../../../layui/layui.js"></script>
</head>

<style>
</style>
<body>
<div class="layui-layout">
    <div class="header">
        <!--<div>
            <img src="http://127.0.0.1:8080/pic/20190530145515.jpg">
        </div>
        <div>
            <span>3049 人感兴趣</span>
            <span>208 人报名</span>
        </div>-->
        <div class="layui-row">
            <div class="layui-col-xs6 layui-col-md12">
                <div class="grid-demo grid-demo-bg2">
                    <img src="http://127.0.0.1:8080/pic/20190530145515.jpg">
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-md6">
                <div class="grid-demo grid-demo-bg1"><span>3049 人感兴趣</span></div>
            </div>
            <div class="layui-col-xs6 layui-col-md6">
                <div class="grid-demo"> <span>208 人报名</span></div>
            </div>

        </div>
    </div>

</div>




</body>
</html>