<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <title th:text="${T(com.zhxh.core.env.SysEnv).systemTitle}">智汇星红智能制造平台</title>
    <style>
        body{
            margin: 0px;
            padding: 0px;
            height:100%;
            width: 100%;
            overflow: hidden;
        }

        input[readonly] {
            background-color: #cde6c7 !important;
        }
    </style>
    <script type="text/javascript" th:src="@{/js/ext/build/include-ext.js(theme=triton)}"></script>
</head>
<body>
<input type="hidden" id="HIDDEN_GLOBAL_SYSTEM_TITLE" th:value="${T(com.zhxh.core.env.SysEnv).systemTitle}"
       style="display: none">
<input type="hidden" id="HIDDEN_GLOBAL_APP_ROOT" th:value="${T(com.zhxh.core.env.SysEnv).appRoot}"
       style="display: none">
<script type="text/javascript">
    var txtSystemTitle = document.getElementById('HIDDEN_GLOBAL_SYSTEM_TITLE');
    var txtAppRoot = document.getElementById('HIDDEN_GLOBAL_APP_ROOT');

    var webRoot = txtAppRoot.value;
    var jsRoot = webRoot + '/js';
    var systemTitle = txtSystemTitle.value;
</script>
<script type="text/javascript" th:src="@{/js/app/app.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
</body>
</html>