<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>合一美容院信息管理平台</title>
    <link rel="stylesheet" href="../layui/css/global.css" media="all" />
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>

<style>
</style>
<body>
<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #01AAED;">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <div class="admin-login-box">
                <a class="logo" style="left: 0;" href="/">
                    <span style="font-size: 22px; color: #ffffff;">合一美容院信息管理平台</span>
                </a>
            </div>
            <ul class="layui-nav" pc>
                <li class="layui-nav-item">
                    <a href='javascript:;' lay-id="-997" data-url="pages/notice/noticePubList.html"><i class="fa fa-envelope-o" aria-hidden="true" title="公告" unreadNotice></i></a>
                </li>
                <li class="layui-nav-item" pc>
                    <a href="javascript:;" class="admin-header-user">
                        <img />
                        <span></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href='javascript:;' lay-id="-999" data-url="pages/user/updateMyself.html"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a>
                        </dd>
                        <dd>
                            <a href='javascript:;' lay-id="-998" data-url="pages/user/updateHeadImg.html"><i class="fa fa-drupal" aria-hidden="true"></i> 头像</a>
                        </dd>
                        <dd>
                            <a href="javascript:;" onclick="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> 退出</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black" id="admin-side">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;" id="menu">
                <!--<li class="layui-nav-item layui-nav-itemed">-->
                    <!--<a href="javascript:;">默认展开</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="javascript:;" data-url="https://www.baidu.com">选项一</a></dd>-->
                        <!--<dd><a href="javascript:;">选项二</a></dd>-->
                        <!--<dd><a href="javascript:;">选项三</a></dd>-->
                        <!--<dd><a href="">跳转项</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item">-->
                    <!--<a href="javascript:;">解决方案</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="">移动模块</a></dd>-->
                        <!--<dd><a href="">后台模版</a></dd>-->
                        <!--<dd><a href="">电商平台</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item"><a href="">云市场</a></li>-->
                <!--<li class="layui-nav-item"><a href="">社区</a></li>-->
            </ul>
        </div>
    </div>
    <div class="layui-body" style="bottom: 0;border-left: solid 2px #01AAED;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-allowClose="true" lay-filter="admin-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <i class="fa fa-dashboard" aria-hidden="true"></i>
                    <cite>Home</cite>
                </li>
            </ul>
            <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
                <div class="layui-tab-item layui-show">
                    <iframe src="admin/dashboard.html"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
    </div>
</div>
<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
<script src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function(elem){
            console.log(elem)

        });
    });
    layui.use(['jquery', 'laydate', 'layer', 'form'], function () {
        var form = layui.form;
        var $ = layui.$;
        $('.admin-side-toggle').on('click', function() {
            var sideWidth = $('#admin-side').width();
            if(sideWidth === 200) {
                $('#admin-body').animate({
                    left: '0'
                });
                $('#admin-footer').animate({
                    left: '0'
                });
                $('#admin-side').animate({
                    width: '0'
                });
            } else {
                $('#admin-body').animate({
                    left: '200px'
                });
                $('#admin-footer').animate({
                    left: '200px'
                });
                $('#admin-side').animate({
                    width: '200px'
                });
            }
        });
    })


</script>
</body>
</html>