
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户协议</title>
    <!--<link  th:href="@{../static/layui/css/layui.css}"  type="text/css" rel="stylesheet"/>-->
    <link  href="../layui/css/layui.css"  type="text/css" rel="stylesheet"/>
<!--    <script type="text/javascript" src="../static/js/jquery/jquery-3.3.1.min.js"></script>-->
    <script src="../layui/layui.js"></script>
    <script type="text/javascript" src="../js/md5.js"></script>
    <script type="text/javascript" src="../../../js/url.js"></script>

</head>
<body >
<div class="window" style=" height: 330px;">
    <p>
        本协议为您与亿小美管理者之间所订立的契约，具有合同的法律效力，请您仔细阅读。</p>
    <ol>
        <li>1.本协议内容、生效、变更<br>
            1.1、本协议内容包括协议正文及所有亿小美已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何亿小美及其关联公司提供的服务（以下称为亿小美服务）均受本协议约束。<br>
            1.2、您应当在使用亿小美服务之前认真阅读全部协议内容。如您对协议有任何疑问，应向亿小美咨询。您在同意所有协议条款并完成注册程序，才能成为本站的正式用户，您点击“注册即代表你同意《注册协议》”按钮后，本协议即生效，对双方产生约束力。<br>
            1.3、只要您使用亿小美服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得亿小美对您问询的解答等理由，主张本协议无效，或要求撤销本协议。<br>
            1.4、您确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。<br>
            1.6、您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用亿小美服务。<br>
            1.7、亿小美有权根据需要不定期地制订、修改本协议及/或各类规则，并在亿小美公示，不再另行单独通知用户。变更后的协议和规则一经在网站公布，立即生效。如您不同意相关变更，应当立即停止使用亿小美服务。您继续使用亿小美服务的，即表明您接受修订后的协议和规则。<br>
            </li>
        <li>2.注册<br>
            2.1、注册资格：<br>
            2.1.1.用户须具有法定的相应权利能力和行为能力的自然人、法人或其他组织，能够独立承担法律责任。您完成注册程序或其他亿小美同意的方式实际使用本平台服务时，即视为您确认自己具备主体资格，能够独立承担法律责任。若因您不具备主体资格，而导致的一切后果，由您及您的监护人自行承担。 2.2、注册资料：<br>
            2.2.1、用户应自行诚信向本站提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且亿小美保留终止用户使用本平台各项服务的权利。<br>
            2.2.2、用户在本站进行浏览、操作等活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本站将予以严格保密，除非得到用户的授权或法律另有规定，本站不会向外界披露用户隐私信息。<br>
            2.3、账户：<br>
            1)您注册成功后，即成为亿小美的用户，将持有亿小美唯一编号的用户名和密码等账户信息，您可以根据本站规定改变您的密码。<br>
            2)您设置的用户名不得侵犯或涉嫌侵犯他人合法权益。否则，亿小美有权终止向 您提供亿小美服务，注销您的账户。账户注销后，相应的用户名将开放给任意用户注册登记使用。<br>
            3)您应谨慎合理的保存、使用您的用户名和密码，应对通过您的用户名和密码实施的行为负责。除非有法律规定或司法裁定，且征得亿小美的同意，否则，用户名和密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。<br>
            4)用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。<br>
            5)如果发现任何非法使用等可能危及您的账户安全的情形时，您应当立即以有效方式通知亿小美，要求亿小美暂停相关服务，并向公安机关报案。您理解合一网络信息科技对您的请求采取行动需要合理时间，亿小美对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。<br>
            6)为方便您使用亿小美服务及亿小美关联公司或其他组织的服务（以下称其他服务），您同意并授权亿小美将您在注册、使用亿小美服务过程中提供、形成的信息传递给向您提供其他服务的亿小美关联公司或其他组织，或从提供其他服务的亿小美关联公司或其他组织获取您在注册、使用其他服务期间提供、形成的信息。<br>
            2.4、4用户信息的合理使用 ：<br>
            1)您同意，亿小美拥有通过短信、电话等形式，向在本站注册、购物用户、收货人发送订单信息、新品发布等告知信息的权利。<br>
            2)您了解并同意，亿小美有权应国家司法、行政等主管部门的要求，向其提供您在亿小美填写的注册信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权，则亿小美亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。<br>
            3)用户同意，亿小美有权使用用户的注册信息、用户名、密码等信息，登陆进入用户的注册账户，进行证据保全。<br>


        </li>
        <li>3. 亿小美服务规范<br>
            3.1、通过亿小美及其关联公司提供的亿小美服务和其它服务，用户可在亿小美上发布交易信息、查询商品和服务信息、达成交易意向并进行交易、对其他用户进行评价、参加亿小美组织的活动以及使用其它信息服务及技术服务。<br>
            3.2、在亿小美上使用服务过程中，您同意严格遵守以下义务：<br>
            1)不得传输或发表损害国家、社会公共利益和涉及国家安全的信息资料或言论；<br>
            2)不利用本站从事窃取商业秘密、窃取个人信息等违法犯罪活动；<br>
            3)不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为；<br>
            4)不发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；<br>
            5)不以虚构或歪曲事实的方式不当评价其他用户；<br>
            6)不对亿小美上的任何数据作商业性利用，包括但不限于在未经事先书面同意的情况下，以复制、传播等任何方式使用亿小美上展示的资料。不使用任何装置、软件或程序干预亿小美的正常运营。<br>
            7)本站保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。<br>
            8)您同意，若您未遵守以上规定的，本站有权作出独立判断并采取暂停或关闭用户帐号、订单等措施。<br>
            9)经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者根据自身的判断，认为您的行为涉嫌违反本协议和/或规则的条款或涉嫌违反法律法规的规定的，则有权在本平台上公示您的该等涉嫌违法或违约行为及已对您采取的措施。<br>
            10)对于您在亿小美上发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和/或规则的信息，有权不经通知您即予以删除，且按照规则的规定进行处罚。<br>
            11)对于您在亿小美上实施的行为，包括您未在亿小美上实施但已经对亿小美及其用户产生影响的行为，有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并采取暂停或关闭用户帐号及其他措施。<br>
            12)对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保免于因此产生损失或增加费用。<br>
            13)如您涉嫌违反有关法律或者本协议之规定，使遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿因此造成的损失及（或）发生的费用，包括合理的律师费用。<br>


        </li>
        <li>4.责任范围和责任限制<br>
            4.1、本平台作为您进行了解、咨询、协商、交易的场所，提示您：应谨慎判断确定相关物品及/或信息的真实性、合法性和有效性。除非另有明确的书面说明，本平台不对各商家在本平台上发布的信息、内容、材料、产品和服务及各方在交易中各项义务的履行能力作任何形式的担保，法律法规另有规定的除外。<br>
            4.2、在接到您投诉、主管机关通知或按照法律法规规定，有合理的理由认为特定会员及具体交易事项可能存在重大违法或违约情形时, 亿小美可依约定或依法采取相应 措施。<br>
            4.3、您了解并同意，亿小美不对因下述任一情况而导致您的任何损害承担赔偿责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿：<br>
            1)第三方未经批准的使用您的账户或更改您的数据。<br>
            2)您对亿小美平台服务的误解。<br>
            3)任何非因亿小美的原因而引起的与亿小美平台服务有关的其它损失。<br>
            4.4、由于法律规定的不可抗力，信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，劳动争议，生产力或生产资料不足，司法行政机关的命令或第三方的不作为及其他本平台无法控制的原因造成的本平台不能服务或延迟服务、丢失数据信息、记录的，亿小美不承担责任，但亿小美将协助处理相关事宜。<br>
            1)您在服务中止或终止之前已经上传至亿小美平台的物品尚未交易的，亿小美有权在中止或终止服务的同时删除此项物品的相关信息；<br>
            2)您在服务中止或终止之前已经与其他会员达成买卖合同，但合同尚未实际履行的，亿小美有权删除该买卖合同及其交易物品的相关信息；<br>
            3)您在服务中止或终止之前已经与其他会员达成买卖合同且已部分履行的，亿小美可以不删除该项交易，但亿小美有权在中止或终止服务的同时将相关情形通知您的交易对方。<br>

        </li>
        <li>5.法律适用、管辖与其他<br>
            (5.1、本协议包含了您使用亿小美平台需遵守的一般性规范，您在使用某个亿小美平台时还需遵守适用于该平台的特殊性规范。一般性规范如与特殊性规范不一致或有冲突，则特殊性规范具有优先效力。<br>
            5.2、本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。<br>
            因本协议履行过程中，因您使用亿小美服务产生争议应由亿小美与您沟通并协商处理。协商不成时，双方均同意以亿小美平台管理者住所地人民法院为管辖法院。<br>
        </li>

    </ol>


</div>

</body>


</html>