<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>添加套卡</title>
  <link rel="stylesheet" href="../../../layui/css/layui.css">
  <script src="../../../layui/layui.js"></script>
    <script type="text/javascript" src="../../../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <link rel="stylesheet" href="../../../js/zyupload/skins/zyupload-1.0.0.min.css " type="text/css">
    <script type="text/javascript" src="../../../js/zyupload/zyupload-1.0.0.min.js"></script>
</head>
<style type="text/css">
 body{
  height: 100%;
  width: 100%;
 }
 .layui-form-label{width: 130px}
 .btn {
    background-color: #e5e5e5;
    background-image: none;
    filter: none;
    border: 0;
    padding: 7px 14px;
    text-shadow: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.layui-input-inline{width: 214px !important}
</style>

<body>
 <!-- 内容主体区域 -->
 <div class="x-body layui-anim layui-anim-up">
  <div class="layui-fluid">
  
    <form class="layui-form layui-form-pane1" lay-filter="first" >
        <div class="layui-form-item">
        </div>
      <div class="layui-form-item">
          <div class="layui-inline">
         <label class="layui-form-label"><span class="text-error">*</span>套卡名称：</label>
         <div class="layui-input-inline">
          <input name="suiteName" id="suiteName" placeholder="请输入" value="" class="layui-input">
          </div>
          </div>

          <div class="layui-inline" >
              <label class="layui-form-label">包含项目：</label>
              <div class="layui-input-inline">
                  <input name="danxuanFW"  placeholder="请输入"  id="bindingList" value="" class="layui-input">
                  <input name="danxuanFWId"  class="bindingList" type="hidden"  class="layui-input">
                  <input name="times"  id="times" type="hidden"  class="layui-input">
              </div>
              <button class="layui-btn zhekou  checkButton"  name="bindingList" type="button">选择范围</button>
          </div>
      </div>

        <div class="layui-form-item">
        <div class="layui-inline"  id="pricePerTimeType">
            <label class="layui-form-label">市场价格：</label>
            <div class="layui-input-inline">
                <input name="priceMarket" id="priceMarket" placeholder="请输入"  value="" class="layui-input">
            </div>
        </div>
        <div class="layui-inline"  id="priceMarketType">
            <label class="layui-form-label">优惠价格：</label>
            <div class="layui-input-inline">
                <input name="price" id="price" placeholder="请输入"  value="" class="layui-input">
            </div>
        </div>
        </div>
        <div class="layui-form-item">
        <div class="layui-inline"  id="priceType">
            <label class="layui-form-label" id="priceLabel">套卡有效期：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="timeExpired" name="timeExpired" placeholder="yyyy-MM-dd">
            </div>

            <!--<div class="layui-input-inline">-->
                <!--<input name="timeExpired" id="timeExpired" placeholder="请输入"  value="" class="layui-input">-->
            <!--</div>-->
        </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">套卡说明：</label>
            <div class="layui-input-inline">

                <textarea name="description" id="description" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>


        <div id="zyupload" class="zyupload"></div>




        <div class="layui-form-item">
            <label class="layui-form-label">是否停用：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="recordStatus"  id="recordStatus" lay-skin="switch"  lay-text="ON|OFF">
            </div>
        </div>

        <div class="layui-form-item" style="margin-left: 140px;">
            <!--<p id="btnGroup" class="pull-right">-->
                <button class="layui-btn save"  lay-submit="" lay-filter="*" >保存</button>
                <button class="layui-btn quxiao" >取消</button>
            <!--</p>-->
        </div>
        <input name="recordId" id="recordId"  type="hidden"  class="layui-input">
        <input name="storeId" id="storeId"  type="hidden"  class="layui-input">
        <!--<input name="picRecordId1" id="picRecordId1" placeholder="请输入"  value="" class="layui-input">-->
        <input name="picRecordId1" id="picRecordId1"  type="hidden"  class="layui-input">
        <input name="picRecordId2" id="picRecordId2"  type="hidden"  class="layui-input">
        <input name="picRecordId3" id="picRecordId3"  type="hidden"  class="layui-input">
        <input name="picRecordId4" id="picRecordId4"  type="hidden"  class="layui-input">
        <input name="picRecordId5" id="picRecordId5"  type="hidden"  class="layui-input">
        <input name="picRecordId6" id="picRecordId6"  type="hidden"  class="layui-input">
        <input name="picList"  class="picList" type="hidden"  class="layui-input">



    </form>
  </div>
  </div>
  </body>
  </html>
<script type="text/javascript">

    function parentF(data){
        console.log(data);
        var name = "";
        var idTemp  = "";
        var times= "";

        var arr = data.arr;
        var id   = data.parId;
        console.log("arr+++++++++++++++++++++++++++++++++++++"+arr);
        for(var i=0;i<arr.length;i++){
            var temp =arr[i];
            name = name +temp.value+", ";
            idTemp = idTemp + temp.id+",";
            times = times+temp.times+",";
        }
        console.log("id============================================="+idTemp);
        console.log("times============================================="+times);
        $("#times").val(times);
        $("#"+id).val(name);
        $("."+id).val(idTemp);

    }



    //重新渲染表单

    function renderForm(){

        layui.use('form', function(){

            var form = layui.form;
            form.render();

        });

    }



    function child(salonId){
        var $ = layui.jquery;






        $("#zyupload").zyUpload({
            width            :   "650px",                 // 宽度
            height           :   "",                 // 宽度
            itemWidth        :   "140px",                 // 文件项的宽度
            itemHeight       :   "115px",                 // 文件项的高度
            url              :   "/hy/basic/pictures/fileUpload?record_type=3",              // 上传文件的路径
            fileType         :   ["jpg","png","txt","js","exe"],// 上传文件的类型
            fileSize         :   51200000,                // 上传文件的大小
            multiple         :   true,                    // 是否可以多个文件上传
            dragDrop         :   true,                    // 是否可以拖动上传文件
            tailor           :   true,                    // 是否可以裁剪图片
            del              :   true,                    // 是否可以删除文件
            finishDel        :   false,  				  // 是否在上传文件完成后删除预览
            /* 外部获得的回调接口 */
            onSelect: function(selectFiles, allFiles){    // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
                console.info("当前选择了以下文件：");
                console.info(selectFiles);
            },
            onDelete: function(file, files){              // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
                console.info("当前删除了此文件：");
                console.info(file.name);
            },
            onSuccess: function(file, response){          // 文件上传成功的回调方法
                console.info("此文件上传成功：");
                console.info(file.name);
                console.info("此文件上传到服务器地址：");
                console.info(response);
                response = JSON.parse(response);
                var list = response.data;
                var picList = $(".picList").val();
                var temp =[];
                if(picList!=""){
                    var tempList = JSON.parse(picList);
                    temp.push(tempList);
                }
                for(index in list){
                    console.log(list[index].recordId);
                    temp.push(list[index].recordId);
                }
                $(".picList").val(temp);
                console.info("picList============================================"+$(".picList").val());
                $("#uploadInf").append("<p>上传成功，文件地址是：" + response + "</p>");
            },
            onFailure: function(file, response){          // 文件上传失败的回调方法
                console.info("此文件上传失败：");
                console.info(file.name);
            },
            onComplete: function(response){           	  // 上传完成的回调方法
                console.info("文件上传完成");
                console.info(response);
            }
        });

    }




    layui.use(['element', 'layer', 'jquery','form','laydate','upload'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var laydate=layui.laydate;
        /* function quxiao(){
            alert(111);
        } */
        var $ = layui.jquery,
            upload = layui.upload;


        $(".checkButton").on("click",function(){
            var data = this;
            var name = data.name;

            layer.open({
                type:2,
                area:[720+'px',500+'px'],
                fix:false,
                offset: '80px',
                maxmin:true,
                shadeClose:true,
                shade:0.4,
                title:'选择包含项目',
                content:['check_service.html'],
                success:function(layero,index){
                    // 获取子页面的iframe
                    var iframe = window['layui-layer-iframe' + index];
                    // 向子页面的全局函数child传参
                    iframe.child(name);
                    console.log("成功");
                },
                fail:function(data){
                    console.log(data);
                }
            })
        })





        form.on('submit(*)', function(data){
            console.log(data.field);

            var dataList = data.field;
            var service = {};

            service.suiteName = dataList.suiteName;
            service.priceMarket = dataList.priceMarket;
            service.price = dataList.price;
            service.timeExpired = dataList.timeExpired;
            service.description = dataList.description;



            if(dataList.recordStatus=='on'){
                service.recordStatus = 1;
            }else{
                service.recordStatus = 0;
            }

            var itemList = [];

            var serviceIds=dataList.danxuanFWId.split(",");
            var times=dataList.times.split(",");

            for ( var i = 0; i <serviceIds.length-1; i++){
                var obj={}
                obj.serviceId=serviceIds[i];
                obj.times=times[i];
                itemList.push(obj);
            }

            console.log("11111111111111111111111111111111"+dataList.times);
            console.log("000000000000000000000000000000"+$("#times").val());



            var url = '/hy/basic/serviceSuite/addServiceSuite';
            var picList= $(".picList").val();
            $.ajax({
                type:'POST',
                url:url,
                data:{
                    condition:JSON.stringify(service),
                    picIdList:picList,
                    bindingJson:JSON.stringify(itemList),
                    comeFrom:"PC"
                } ,
                contentType: "application/x-www-form-urlencoded",
                success: function(data){
                    alert("操作成功！");
                    window.parent.location.reload(); //刷新父页面
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);  // 关闭layer
                    /* alert("操作成功");
                    if(type=="update"){
                        window.parent.location.reload(); //刷新父页面
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);  // 关闭layer
                    }else{
                        window.location.reload();
                        //window.location.href="${basePath}ryOrderConfig/queryList";
                    } */

                    //window.location.href="${basePath}ryOrderConfig/queryList";
                },
                error:function(data){
                    alert("操作失败");
                    console.log(data);
                }
            })
            return false;
        });

    })

    layui.use('laydate', function() {
        var laydate = layui.laydate;
        //常规用法
        laydate.render({
            elem: '#timeExpired'
        });
    });





</script>  